@model ASP_Ecomerce.Models.ProductTypes
@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h2>Create ProductTypes</h2>

<form asp-action="Create" method="post">
    <div class="p-4 rounded-border">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <div class="mb-2">
                <label asp-for="ProductType"></label>
            </div>
            <div class="col-5">
                <input type="text" asp-for="ProductType" class="form-control" placeholder="Enter product type"/>
            </div>
            <span asp-validation-for="ProductType" class="text-danger"></span>
        </div>

        <div class="form-group">
            <input type="submit" value="submit" class="btn btn-sm btn-primary"/>
            <a class="btn btn-sm btn-success m-2" asp-controller="ProductTypes" asp-action="Index">Back To List</a>
        </div>
    </div>
</form>

@section Scripts{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
