@model ASP_Ecomerce.Models.SpecialTags
@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>
<form asp-action="Edit" method="post">
    <div class="p-4 rounded border">
        <div asp-validation-summary="ModelOnly" class="text-danger">
        </div>
        <div class="form-group">
            <div class="col-2 mb-2">
                <label asp-for="SpecialTag"></label>
            </div>
            <div class="col-5">
                <input type="text" asp-for="SpecialTag" class="form-control" placeholder="Enter SpecialTags type" />
            </div>
        </div>
        <span asp-validation-for="SpecialTag" class="text-danger"></span>
        <div class="form-group">
            <input type="submit" value="Upadate" class="btn btn-sm btn-primary" />
            <a class="btn btn-sm btn-success m-2" asp-controller="SpecialTags" asp-action="Index">BackTo List</a>
        </div>
    </div>
</form>

@section Scripts{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}